# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
*.code-workspace

# Flutter/Dart specific
**/android/build/
**/android/gradle/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
ios/Pods/
ios/Podfile.lock
ios/Flutter/.last_build_id
*.log
*.jar
*.war
*.ear
*.class
.idea
.project
.build
.externalToolBuilders
*.launch
